@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
    --light-gray:rgb(59, 57, 57);
    --dark-gray:rgb(27, 27, 27);
}
*{
    box-sizing:border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 20rem;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    margin:0;
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232C2C2C'/%3E%3Cstop offset='1' stop-color='%23232323'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.04'/%3E%3C/svg%3E");
background-attachment: fixed;
    overflow:scroll;
    
}
/* NAVBAR SETTINGS */
#navbar{
    display:flex;
    justify-content: space-around;
    top:0;
    position:sticky;
    max-width: 500px;
    box-shadow: 1px 1px 1px gainsboro;
    background-color: var(--dark-gray);
    z-index:10;

}
#navbar__list{
    list-style-type: none;
    color:white;
}
.navbar__list:last-child{
    display:block;
}
.navbar__item{
    display:list-item;
    float:left;
    padding:1rem;
    font-size:1.8rem;
}
.navbar__item.link{
    display:none;
}
#icon{
    padding-top: 1.4rem;
}

@media (min-width:900px) {
   #icon{
    padding-left: 27rem;

}
    #navbar{
        width:100vw;
        max-width:none;
        justify-content: space-between;
        padding:0rem 2rem 0rem 2rem;
        box-shadow: 1px 1px 5px rgb(114, 114, 131);
        z-index: 10;
    }
.navbar__item.link{
    display:block;
}
    .navbar__item.menu{
        display:none;
    }
}
@media(max-width:900px){
    #navbar{
    max-width:none;
}}

/* ANIMATIONS */
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
/* HEADINGS, LINKS AND PARAGRAPHS */
h2{
    font-size:2rem;
    color:white;
}

h1{
     text-align: center;
     font-size:4rem;
     
     animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
     z-index:9;
     color:rgb(255, 255, 255);
}
p{
    font-size: 2rem;
    text-align: center;
    color:rgb(223, 219, 219);
}
hr{
    margin:1rem;
    padding:0px;
}
#about__h3{
    font-size:1.6rem;
    text-transform: uppercase;
}
h3{
    font-size:1.6rem;
    text-transform:uppercase;
    color: white;
    margin-bottom:0px;
}
a:link{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
a:visited{
    color:rgb(255, 255, 255);
}
a:hover{
    color:gray;
}

button{
    height:3rem;
    width:10rem;
    border:none;
}
button:hover{
    background-color: gray;
}
@media (min-width:900px){
    h1{
        font-size:7rem;
        margin-bottom: 1rem;
        
    }
    p{
        font-size: 2.2rem;
        margin:1rem;
    }
    p.align__left{
        text-align: left;
        margin-left: 0;
    }
    p.align__right{
        text-align:right;
    }
    .list__link{
        color:white;
    }
}
    


/* WELCOME SECTION */

#welcome__section{
    height:100vh;
}
    
#welcome__photo{
    height:30rem;
    width:30rem;
    border-radius: 20rem;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(8, 8, 8);
    z-index:2;
}
#welcome__card{
    padding-top:2rem;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}
#welcome__icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:1rem;
    color:white;
}
#welcome__chevron{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem 4rem 0rem;
}
@media(min-width:900px){
#welcome__card{
        padding-top:2rem;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
#welcome__text{
    display:flex;
    flex-direction: column;;
    justify-content: flex-start;
    align-items: flex-start;
    max-width:45rem;
    
}
#welcome__photo{
    height:33rem;
    width:33rem;
    border-radius: 20rem;
    object-fit: cover;
    box-shadow: 1px 1px 1px gray;
    margin: 8rem 0rem 0rem 5rem;
    border:1px solid black;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
#welcome__chevron{
    position:absolute;
    bottom:20%;
    left:50%;
}
#welcome__icons{
    padding-left: 0px;
}
}
/* ABOUT SECTION */

#about__photo{
    height:25rem;
    width:35rem;
    border-radius:1.8rem;
    box-shadow: 1px 1px 4px black;
}
#about__section{
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-gray);
    margin-bottom: 5rem;
}
#about__text{
    text-align: center;
}
@media(min-width:900px){
    #about__section{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
    }
    #about__text{
        max-width:40rem;
        text-align:left;
        padding:1rem 0rem 0rem 2rem;
        margin-bottom: 18rem;
    }
    #about__photo{
        height:40rem;
        width:50rem;
    }
}

/* PROJECTS SECTION */

#project__section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__image{
    height:25rem;
    width:35rem;
    border-radius:1.8rem;
    object-fit: cover;
    box-shadow: 0px 1px 10px rgb(97, 95, 95);
}
.project__card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--dark-gray);
    padding:2rem 0rem 2rem 0rem;
    margin: 5rem 0rem 1rem 0rem;
}
.project__text{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:900px){
.project__card.a{
    display:flex;
    flex-direction: row;
    max-width:90rem;
    border-radius: 2rem;
    padding:2rem;
}
.project__image{
    height:30rem;
    width:50rem;
    border-radius:2rem;
}
.project__text{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin:0rem  2rem 0rem 2rem;
}
.project__card.b{
    display:flex;
    flex-direction:row-reverse;
    max-width:90rem;
    border-radius:2rem;
    padding:2rem;
}
}

/* CONTACT SECTION */

#contact__section{
    background-color: var(--light-gray);
}

#contact__icons{
    font-size:4rem;
}
.icon{
    padding:2rem 2rem 0rem 2rem;
    color:white;
}

#mobile__menu{
position:fixed;
   top:0%;
   z-index:999;
   transform:translateX(100%);
   transition:transform 1s ease;
   height:100vh;
   width:40rem;
   background-color: rgb(2, 8, 20);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.12'%3E%3Ccircle fill='%23031F55' cx='50' cy='0' r='50'/%3E%3Cg fill='%23031e52' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031d4f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23031d4b' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031c48' cx='50' cy='200' r='50'/%3E%3Cg fill='%23031b45' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031a42' cx='50' cy='300' r='50'/%3E%3Cg fill='%2302193f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2302183c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23021738' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23021635' cx='50' cy='500' r='50'/%3E%3Cg fill='%23021532' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2302142f' cx='50' cy='600' r='50'/%3E%3Cg fill='%2302132c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23021129' cx='50' cy='700' r='50'/%3E%3Cg fill='%23021026' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010f23' cx='50' cy='800' r='50'/%3E%3Cg fill='%23010e1f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010d1c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23010b19' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010A16' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

/* MOBILE MENU */
#mobile__list{
    list-style-type: none;
    font-size:2.5rem;
}

.mobile__item{
    padding:2rem 0rem 2rem 0rem;
    color:white;
}
.mobile__item:hover{
    color:gray;
}

#ECS{
    position: absolute;
    top:2%;
    right:10%;
}
#mobile__menu.show{
    position:fixed;
       top:0%;
       z-index:999;
       transform:translateX(0%);
       transition:transform 1s ease;
       width:40rem;
       background-color: rgb(2, 8, 20);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.12'%3E%3Ccircle fill='%23031F55' cx='50' cy='0' r='50'/%3E%3Cg fill='%23031e52' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031d4f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23031d4b' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031c48' cx='50' cy='200' r='50'/%3E%3Cg fill='%23031b45' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23031a42' cx='50' cy='300' r='50'/%3E%3Cg fill='%2302193f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2302183c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23021738' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23021635' cx='50' cy='500' r='50'/%3E%3Cg fill='%23021532' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2302142f' cx='50' cy='600' r='50'/%3E%3Cg fill='%2302132c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23021129' cx='50' cy='700' r='50'/%3E%3Cg fill='%23021026' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010f23' cx='50' cy='800' r='50'/%3E%3Cg fill='%23010e1f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010d1c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23010b19' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010A16' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    }
    @media(min-width:420px){
        #mobile__menu{
            display:none;
        }
        #mobile__menu.show{
            display:none;
        }
    }
